
/*---------------------------------------------- INTRO SECTION  ----------------------------------------------------------------------------*/

.Intro_container {
    background-color: brown;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    border-style: solid;
    border-width: 0px;
    border-radius: 40px;
    overflow: hidden;   ; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media (min-width: 768px) and (max-width: 1024px)   /* Tablets and small laptops */   {
        width: 90%;
    }

    @media (max-width: 767px)     /* Mobile devices */ {
        width: 95%;
    }


}

p {
    color: rgb(218, 218, 218);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;


    @media (min-width: 768px) and (max-width: 1160px)   /* Tablets and small laptops */   {
        font-size: 30px;

    }


    
    @media (max-width: 767px)     /* Mobile devices */ {
        font-size: 20px;
    }

}


/*-------------------------------------  END OF INTRO  --------------------------------------------------------------------------------*/













/*------------------------------------GALLERY 1 SECTION--------------------------------------------------------------------------------*/


.cards_library {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card {
    position: relative; 
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.11);
    height: 100%;
    width: 24.5%;
    cursor: pointer;
    overflow: hidden;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

.img_1 {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}



.info {
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0;
    box-sizing: border-box;
    transition: transform 0.8s ease; 
    transform: translateY(0); 
}


.card:hover .info {
    transform: translateY(-20%); 
}




.name {
    color: aliceblue;
    margin-left: 6%;
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Reddit Sans Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    transition: transform 10s ease;


    @media (min-width: 865px) and (max-width: 3000px)   /* Tablets and small laptops */
    {
        font-size: 20px;
    }

    @media (min-width: 561px) and (max-width: 864px)     /* Mobile devices */ {
        font-size: 15px;
    }

    @media (max-width: 560px)     /*Smaller Mobile devices */ {
        font-size: 10px;
    }

}

.country {
    margin-left: 5%;
    margin-bottom: 4%;;
    margin-top: 4%;
    font-size: 11px;
    color: rgb(211, 211, 211);
    font-family: "Poppins", sans-serif;
    transition: transform 10s ease;

    @media (min-width: 865px) and (max-width: 1024px)   /* Tablets and small laptops */
    {
        font-size: 9px;
    }

    @media (min-width: 561px) and (max-width: 864px)     /* Mobile devices */ {
        font-size: 9px;
    }

    @media (max-width: 560px)     /* Smaller Mobile devices */ {
        font-size: 7px;
    }

}



.know_more {
    margin-top: 0;
    opacity: 0;
    margin-bottom: 0;
    margin-left: 5%;
    color: rgb(106, 208, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    transition: opacity 0.3s ease-in-out;
}



.card:hover .know_more {
    opacity: 1;
}

.card img {
    transition: filter 0.2s ease-in-out, transform 0.5s ease-in-out;
}

.card:hover img {
    filter: grayscale(100%) blur(4px);
    transform: scale(1.1);
}




/*------------------------------------- END OF GALLERY1--------------------------------------------------------------------------------*/











/*------------------------------------GALLERY 2 SECTION--------------------------------------------------------------------------------*/


.cards_library-2 {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-2 {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.11);
    height: 100%;
    width: 10%;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_2 {
    max-width: 300%;
    max-height: 100%;
    width: 300%;
    height: 100%;
}



.card-2 img {
    transition: filter 0.2s ease-in-out, transform 0.5s ease-in-out;
}



.card-2:hover img {
    filter: grayscale(100%) blur(4px);
    transform: scale(1.1);
}



/*-------------------------------------  END OF GALLERY 2  --------------------------------------------------------------------------------*/
